.card__wrapper {
  width: 350px;
  position: relative;
  perspective: 800px;
  aspect-ratio: 85.6 / 53.98;
}

.card {
  font-family: CreditCard, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center;
  transform: rotateX(0);
}

.card__face {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: flex-end;
}

.card__front {
  background: linear-gradient(to bottom right, #23aafb, #0277d1);
  color: #ddd;
}

.card__back {
  background: linear-gradient(to right, #3159cc, #3139ff);
  color: white;
  transform: rotateX(180deg);
}

.card__content {
  padding: 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.card__number {
  font-size: 1.5rem;
}

.card--flipped {
  animation: flipp 0.5s forwards;
}

.card--flopped {
  animation: flopp 0.5s;
}

@keyframes flipp {
  10% {
    transform: rotateX(0) scale(0.85) translateZ(20px);
  }

  90% {
    transform: rotateX(-180deg) scale(0.85) translateZ(-20px);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes flopp {
  10% {
    transform: rotateX(-180deg) scale(0.85) translateZ(20px);
  }

  90% {
    transform: rotateX(0) scale(0.85) translateZ(-20px);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.card__logo {
  width: 72px;
  fill: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
}

.card__name-expiration-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;

  /* Take up space even if empty,
  to prevent card from growing when the user enters name or expiration date */
  height: 36px;
}

.card__name {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

.card__label {
  font-size: 12px;
  margin-bottom: 4px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.card__expiration-label-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__expiration-wrapper {
  display: flex;
  justify-content: flex-end;
}

.card__expiration-month,
.card__expiration-year {
  /* Numbers are so much bigger than letters in the creditcard font */
  font-size: 0.6rem;
}

.card__expiration-wrapper > span {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: -4px 2px;
}
