* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CreditCard';
  src: local('creditcard'), url('./fonts/creditcard.ttf') format('truetype');
}

html {
  font-size: 10px;
}

@media screen and (min-width: 351px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 401px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00052b;
  background: #d2e8fb;
}
